body{
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
.header-conteiner{
    width: 100%;
    max-width: 1686px;
    margin: auto;
}
.header{
    color: #fff;
    width: 100%;
    min-height: 100vh;
    background-image: url('../image/png\,jpg/shutterstock_1499306735 1 (1).png');
    background-size: cover;
}
.header-inner{
    padding: 0px 15px;
}
.header-bottom-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: calc(100vh - 130px);
}
.header-top-link{
    font-weight: 400;
    font-size: 32px;
    text-decoration: none;
    color: #fff;
}
.header-top{
    display: flex;
    justify-content: space-between;
    height: 130px;
    align-items: center;
}
.header-bottom-content-right-img{
    width: 90%;
}
.header-bottom-content-left{
    min-width: 700px;
}
.header-top-links{
    display: flex;
    width: 80%;
    justify-content: space-between;
}
.header-bootom-content-left-desc{
    font-weight: 300;
    max-width: 500px;
    font-size: 24px;
}
.header-bootom-content-left-title{
    font-weight: 700;
    font-size: 80px;
}
.btn-text{
    font-weight: 700;
    font-size: 24px;   
    padding: 28px;
    outline: none;
    margin-left: 16px;
    background-color: rgba(255, 255, 255, 0);
    border: 4px solid #fff; 
    color: #fff;
    transition: 0.2s;
    position: absolute;
}
.btn-text-podlo{
    font-weight: 700;
    font-size: 24px;   
    padding: 28px;
    margin-left: 16px;
    outline: none;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0);
    border: 4px solid #fff; 
    color: #fff;
}
.btn-box{
    position: relative;
    display: flex;
    text-align: center;
    margin-right: auto;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    outline: none;
    margin-top: 50px;
    margin-left: -20px;
}
.btn-box:hover .btn-text{
    padding: 36px 20px;
    margin-left: 24px;
    transition: 0.2s;
}
.btn-box:active .btn-text{
    padding: 36px 36px;
    margin-left: 8px;
    transition: 0.2s;
}
.btn-box:active .btn-text-podlo{
    margin-right:8px ;
    transition: 0.2s;
}
.blac{
    border: 4px solid #000; 
    color: #000;
}
.conteiner{
    max-width: 1240px;
    margin: auto;
    width: 100%;
}
.main-block-padding{
    margin-top: 67px;
}
.main-inner{
    padding: 0px 15px;
}
.main-pluse-card-item{
    width: 250px;
    color: #fff;
    height: 284px;
    padding: 26px 0px;
    text-align: center;
    background: #262626;
}
.main-pluse-card-item-title{
    font-weight: 600;
    font-size: 28px;
    margin-top: 26px;
}
.main-pluse-card-item-desc{
    font-weight: 400;
    font-size: 20px;
    margin-top: 34px;
}
.main-pluse-card-items{
    display: flex;
    justify-content: space-between;
}
.main-skills-content{
    text-align: center;
}
.main-skills-content-title{
    font-weight: 600;
    font-size: 64px;
}
.main-skills-content-desc{
    font-weight: 400;
    font-size: 24px;
    max-width: 870px;
    margin: 10px auto;
}
.main-skills-content-card-items{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main-skills-content-card-item{
    width: 336px;
    margin-bottom: 54px;
    height: 218px;
    padding-top: 32px;
    background: rgba(0, 56, 255, 0.21);
}
.main-skills-content-card-item-title{
    font-weight: 600;
    font-size: 28px;
    margin-top: 21px;
}
.main-skills-content-card-item-desc{
    font-weight: 400;
    font-size: 16px;
    margin-top: 21px;
}
.main-skills-content-btn{
    width: 210px;
    height: 108px;
    margin: -50px calc(50% - 120px) 0px calc(50% - 90px);
}
.main-team{
    width: 100%;
    background-image: url('../image/png\,jpg/image 5.png');
    background-size: cover ;
    padding-bottom: 50px;
    background-position: center;
}
.main-team-content-title{
    text-align: center;
    color: #fff;
    font-weight: 600;
    font-size: 64px;
    padding-top: 41px;
}
.card-client {
    background: #0f324a3b;
    width: 250px;
    padding-top: 25px;
    padding-bottom: 25px;
    backdrop-filter: blur(7px);
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    transition: all 0.3s ease;
  }
  
  .card-client:hover {
    transform: translateY(-10px);
  }
  
  .user-picture {
    overflow: hidden;
    object-fit: cover;
    width: 150px;
    height: 150px;
    border: 4px solid #7cdacc;
    border-radius: 999px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  
  .user-picture svg {
    width: 2.5rem;
    fill: currentColor;
  }
  
  .name-client {
    margin: 0;
    margin-top: 20px;
    font-weight: 600;
    font-size: 18px;
  }
  
  .name-client span {
    display: block;
    font-weight: 200;
    font-size: 16px;
  }
  
  .social-media:before {
    content: " ";
    display: block;
    width: 100%;
    height: 2px;
    margin: 20px 0;
    background: #7cdacc;
  }
  
  .social-media a {
    position: relative;
    margin-right: 15px;
    text-decoration: none;
    color: inherit;
  }
  
  .social-media a:last-child {
    margin-right: 0;
  }
  
  .social-media a svg {
    width: 1.1rem;
    fill: currentColor;
  }
  
  /*-- Tooltip Social Media --*/
  .tooltip-social {
    background: #262626;
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    padding: 0.5rem 0.4rem;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 600;
    opacity: 0;
    pointer-events: none;
    transform: translate(-50%, -90%);
    transition: all 0.2s ease;
    z-index: 1;
  }
  
  .tooltip-social:after {
    content: " ";
    position: absolute;
    bottom: 1px;
    left: 50%;
    border: solid;
    border-width: 10px 10px 0 10px;
    border-color: transparent;
    transform: translate(-50%, 100%);
  }
  
  .social-media a .tooltip-social:after {
    border-top-color: #262626;
  }
  
  .social-media a:hover .tooltip-social {
    opacity: 1;
    transform: translate(-50%, -130%);
  }
.main-team-content-card-items{
    display: flex;
    justify-content: space-between;
    margin-top: 58px;
}
.main-kons-content-left-title{
    font-weight: 600;
    font-size: 64px;
}
.main-kons-content-left-desc{
    font-weight: 400;
    font-size: 36px;
    margin: 50px 0px 20px 0px;
}
.main-kons-content-left{
    max-width: 661px;
}
.main-kons-content{
    display: flex;
    justify-content: space-between;
}
.main-coment{
    width: 100%;
    background: #C9D5FF;
}
.main-coment-content{
    padding: 58px 0px;
}
.main-coment-content-card-item{
    height: 375px;
    width: 366px;
    text-align: center;
    background-color: #fff;
}
.main-coment-content-card-item-title{
    font-weight: 600;
    font-size: 24px;
    margin-top: 20px;
}
.main-coment-content-card-item-info{
    font-weight: 200;
    font-size: 15px;
}
.main-coment-content-card-item-desc{
    font-weight: 400;
    font-size: 15px;
    padding: 20px 45px;
}
.main-coment-content-card-item-image{
    width: 112px;
    height: 112px;
    border-radius: 112px;
    margin-top: 20px;
}
.main-coment-content-card-items{
    display: flex;
    justify-content: space-between;
}
.footer-top{
    width: 100%;
    height: 470px;
    background-image: url('../image/png\,jpg/image bg.png');
    background-size: cover;
}
.footer-top-btn > span> button{
    font-size: 32px;
}
.footer-top-title{
    font-weight: 600;
    font-size: 64px;
    padding-top: 100px;
    color: #fff;
}
.footer-top-content{
    text-align: center;
}
.footer-top-btn{
    width: 335px;
    margin: auto
}
.header-bootom-content-left-btn{
    width: 278px;
}
.main-kons-content-left-btn{
    width: 425px;
}
button{
    cursor: pointer;
}
.footer-bottom{
    width: 100%;
    background: #010414;
    padding: 47px 0px;
    color: #fff;
}
.footer-bottom-content-left-title{
    font-weight: 600;
    font-size: 64px;
}
.footer-bottom-content-left-desc-item-text{
    font-weight: 300;
    font-size: 20px;
}
.footer-bottom-content-left-desc-item{
    margin-top: 5px;
    align-items: center;
    display: flex;
}
.none{
    display: none;
}
.footer-bottom-content-left-desc-item-image{
    margin-right: 5px;
}
.footer-bottom-content-left-desc{
    margin-top: 78px
}
.footer-bottom-content-left-link-image{
    margin: 10px 10px 0px 0px ;
}
.footer-bottom-content{
    display: flex;
    justify-content: space-between;
}
.card-client{
    margin: 10px;
    height: 309px;
}
.btn21 {
    display: inline-block;
    padding: 26px 18px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 50PX;
    color: white;
    border: 3px solid rgb(255, 255, 255);
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    transition: 500ms;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .btn21::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    color: #000;
    background-color: rgb(255, 255, 255);
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .btn21:hover::before {
    transform: translateX(0);
    color: #000;
   }
   .btn21:hover{
    color: #000;
    transition: 500ms;
   }
.swiper {
    max-width: 1000px;
}
.id-block{
    display: none;
}
.id-none{
    display: block;
}
.top-menu{
    backdrop-filter: blur(7px);
    width: 100%;
    height: 100vh;
    top: -200vh;
    display: none;
    position: fixed;
    z-index: 15;
    transition: 1s;
    background-color: #01041470;
}
.menu-active{
    top: 0;
    transition: 1s;
}
.top-menu-inner{
    width: 320px;
    height: calc(100vh - 130px);
    margin: auto;
}
.top-menu-conteiner{
    width: 100%;
    height: 100vh;
}
.top-menu-header{
    padding: 0px 15px;
    height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.top-menu-inner-link{
    color: #fff;
    font-size: 24px;
    width: 320px;
    text-decoration: none;
    margin: 10px auto; 
    text-align: center;
} 
.top-menu-inner-links{
    display: inline-grid;
}
.top-menu-inner-btn{
    width: 266px;
    margin: 0px calc(50% - 1435px) 0px calc(50% - 123px);
}
.header-top-menu-img{
    display: none;
}
.header-top-link-podl{
    display: none;
}
.for{
    background-image: url('../image/png\,jpg/Николай .jpg');
    background-size: cover;
}
.free{
    background-image: url('../image/png\,jpg/1people.jpg');
    background-size: cover;
}
.two{
    background-image: url('../image/png\,jpg/синергия38.png');
    background-position: center;
    background-size: cover;
}
.one{
    background-image: url('../image/png\,jpg/синергия38 (1).png');
    background-position: center;
    background-size: cover;
}
.five{
    background-image: url('../image/png\,jpg/серьезныйPeople.jpg');
    background-size: cover;
}
.ger{
    background-image: url('../image/png\,jpg/Герасимов.png');
    background-size: cover;
    background-position: right;
}
.mar{
    background-image: url('../image/png\,jpg/Марецкая.jpg');
    background-size: cover;
}
.lvov{
    background-image: url('../image/png\,jpg/Львов.jpg');
    background-size: cover;
}
.arh{
    background-image: url('../image/png\,jpg/Архаров.png');
    background-size: cover;
    background-position: center;
}
.kud{
    background-image: url('../image/png\,jpg/Кудрявцев.jpg');
    background-size: cover;
}
.av{
    background-image: url('../image/png\,jpg/Авдюшин.jpg');
    background-size: cover;
}

/*Адоптив*/
@media (max-width: 1489px){
    .header-top-link{
        font-size: 24px;
    }
    .header-top-links{
        margin-left: 15px;
    }
}
@media (max-width: 1150px){
    .main-coment-content-card-items{
        flex-wrap: wrap;
        min-width: 366px;
    }
    .main-coment-content-card-item{
        height: auto;
        margin: 20px auto;
    }
}
@media (max-width: 1100px){
    .main-skills-content-card-items{
        justify-content: space-evenly;
    }
    .main-skills-content-card-item{
        margin-left: 5px;
        margin-right: 5px;
    }
    .main-pluse-card-items{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    .main-pluse-card-item{
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 30px;
    }
    .main-team-content-card-items{
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}
@media (max-width: 1000px){
    .header-top-link-podl{
        display: block;
    }
    .header-top-menu-img{
        display: block;
    }
    .top-menu{
        display: block;
    }
    .header-top-link{
        display: none;
    }
    .footer-bottom-content{
        display: block;
    }
    .footer-bottom-content-right> iframe{
        width: 100%;
    }
    .footer-bottom-content-left{
        margin-bottom: 30px;
    }
    .footer-bottom-content-left-title{
        text-align: center;
    }
    .footer-bottom-content-left-links{
        width: 111px;
        margin: auto;
    }
    .footer-bottom-content-left-link-image2{
        margin: 20px 0px 0px 0px;
    }
}
@media (max-width: 934px){
    .header-top-link{
        display: none;
    }
    .main-kons-content-left-desc{
        font-size: 20px;
    }
    .id-block{
        display: block;
        text-align: center;
    }
    .id-none{
        display: none;
    }
    .main-kons-content-left-btn{
        margin: 0px calc(50% - 222px) 0px calc(50% - 202px);
    }
    .main-kons-content-left{
        max-width: 60%;
    }
    .main-kons-content-left-desc{
        min-width: 341px;
    }
    .main-kons-content-right-image{
        width: 100%;
    }
}
@media (max-width: 1200px){
    .header-bottom-content{
        display: block;
    }
    .header-bottom-content-left{
        text-align: center;
        color: #000;
        margin-bottom: 15px;
    }
    .header-bootom-content-left-desc{
        margin: auto;
        
    }
    .header-bootom-content-left-btn{
        margin: 0px calc(50% - 229px) 0px calc(50% - 119px);
    }
}
@media (max-width: 736px){
    .header-bootom-content-left-title{
        font-weight: 700;
        font-size: 45px;
    }
    .header-bootom-content-left-desc{
        font-weight: 300;
        font-size: 20px;
    }
    .header-bottom-content-left{
        min-width: 0px;
    }
}
@media (max-width: 668px){
    .header-bootom-content-left-title{
        font-weight: 700;
        font-size: 45px;
    }
    .header-bootom-content-left-desc{
        font-weight: 300;
        font-size: 20px;
    }
    .header-bottom-content-left{
        min-width: 0px;
    }
    .footer-top-title{
        font-weight: 600;
        font-size: 40px;
    }
    .id-block{
        font-weight: 600;
        font-size: 40px;
    }
}
@media (max-width: 580px){
    .main-kons-content-left-desc{
        min-width: 0px;
    }
}
@media (max-width: 549px){
    .main-pluse-card-item{
        width: 100%;
    }
    .main-skills-content-card-item{
        width: 100%;
        height: auto;
        display: flex;
        padding: 15px;
        align-items: center;
        text-align: left;
    }
    .main-skills-text-block{
        margin-left: 10px;
    }
    .main-skills-content-card-item-title{
        font-weight: 600;
        font-size: 28px;
        margin-top: 0;
    }
    .main-skills-content-card-item-desc{
        font-weight: 400;
        font-size: 16px;
        margin-top: 5px;
    }
    .btn{
        font-weight: 700;
        font-size: 18px;
    }
    .main-kons-content-left-btn{
        width: 335px;
        margin: -20px calc(50% - 170px) 0px calc(50% - 158px);

    }
    .main-skills-content-btn{
        margin: -40px calc(50% - 100px) 0px calc(50% - 70px);
        width: 170px;
    }
    .header-bootom-content-left-btn{
        margin: 0px calc(50% - 119px) 0px calc(50% - 99px);
        width: 218px;
    }
    .top-menu-inner-btn{
        margin: 0px calc(50% - 119px) 0px calc(50% - 99px);
        width: 218px;
    }
    .main-coment-content-card-items{
        min-width: 0px;
    }
}
@media (max-width: 366px){
    .btn{
        font-size: 14px;
    }
    .main-kons-content-left-btn{
        width: 275px;
        margin: 0px calc(50% - 142px) 0px calc(50% - 130px);
    }
    .header-bootom-content-left-btn{
        margin: -20px calc(50% - 102px) 0px calc(50% - 82px);
        width: 185px;
    }
    .top-menu-inner-btn{
        width: 185px;
        margin: -20px calc(50% - 102px) 0px calc(50% - 82px);
    }
    .main-skills-content-btn{
        width: 145px;
        margin: -20px calc(50% - 82px) 0px calc(50% - 62px);
    }
    .footer-top-btn > span> button{
        font-size: 20px;
    }
    .footer-top-btn{
        width: 240px;
        margin: 0px calc(50% - 130px) 0px calc(50% - 110px);
    }
    .footer-bottom-content-left-title{
        font-size: 50px;
    }
}
@media (max-width: 500px) {
    .swiper{
        width: 300px;
    }
}